.candy {
    --radius: 1.5rem;
    --background: 330 80% 98%;
    --foreground: 0 0% 0%;
    --card: 330 85% 97%;
    --card-foreground: 0 0% 0%;
    --popover: 330 85% 96%;
    --popover-foreground: 0 0% 0%;
    --primary: 330 90% 94%;
    --primary-foreground: 0 0% 0%;
    --secondary: 330 85% 96%;
    --secondary-foreground: 0 0% 0%;
    --muted: 330 85% 96%;
    --muted-foreground: 0 0% 0%;
    --accent: 51 90% 60%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 0%;
    --input: 0 0% 100%;
    --ring: 326 80% 65%;
    --sidebar-background: 290 90% 88%;
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 320 90% 80%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 320 90% 84%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 270 90% 70%;
    --sidebar-ring: hsl(var(--ring));
    --gradient-from: hsl(320, 90%, 88%);
    --gradient-mid: hsl(290, 90%, 88%);
    --gradient-to: hsl(270, 90%, 88%);
}

.candy .bg-sidebar {
    background-image: linear-gradient(to bottom right, var(--gradient-from), var(--gradient-mid), var(--gradient-to));
}
