.sage {
    --radius: 1.5rem;
    --background: 120 10% 90%;
    --foreground: 0 0% 0%;
    --card: 100 20% 80%;
    --card-foreground: 0 0% 0%;
    --popover: 100 20% 80%;
    --popover-foreground: 0 0% 0%;
    --primary: 100 20% 86%;
    --primary-foreground: 0 0% 0%;
    --secondary: 100 20% 86%;
    --secondary-foreground: 0 0% 0%;
    --muted: 100 15% 94%;
    --muted-foreground: 0 0% 0%;
    --accent: 51 100% 50%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 75% 68% / 0.9;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 0%;
    --input: 0 0% 100%;
    --ring: 100 20% 86%;
    --gradient-from: hsl(115, 25%, 65%);
    --gradient-mid: hsl(110, 25%, 45%);
    --gradient-to: hsl(105, 25%, 60%);
    --sidebar-background: hsl(110, 25%, 55%);
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: hsl(110, 25%, 45%);
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: hsl(115, 25%, 65%);
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: hsl(110, 25%, 35%);
    --sidebar-ring: hsl(var(--ring));
}

.sage .bg-sidebar {
    background-image: linear-gradient(to bottom right, var(--gradient-from), var(--gradient-mid), var(--gradient-to));
}
